body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

.cssload-wrap {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.translate {
    animation: translate 1700ms cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
    -o-animation: translate 1700ms cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
    -ms-animation: translate 1700ms cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
    -webkit-animation: translate 1700ms cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
    -moz-animation: translate 1700ms cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
    bottom: 0;
    height: 32px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
}

.scale {
    animation: scale 1700ms cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
    -o-animation: scale 1700ms cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
    -ms-animation: scale 1700ms cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
    -webkit-animation: scale 1700ms cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
    -moz-animation: scale 1700ms cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
    height: 100%;
    width: 100%;
}

.cssload-wrap:nth-child(1) {
    transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -moz-transform: rotate(320deg);
}

.cssload-wrap:nth-child(1) .translate,
.cssload-wrap:nth-child(1) .scale {
    animation-delay: 0ms;
    -o-animation-delay: 0ms;
    -ms-animation-delay: 0ms;
    -webkit-animation-delay: 0ms;
    -moz-animation-delay: 0ms;
}

.cssload-wrap:nth-child(1) .scale {
    background: rgb(204, 255, 102);
}

.cssload-wrap:nth-child(2) {
    transform: rotate(280deg);
    -o-transform: rotate(280deg);
    -ms-transform: rotate(280deg);
    -webkit-transform: rotate(280deg);
    -moz-transform: rotate(280deg);
}

.cssload-wrap:nth-child(2) .translate,
.cssload-wrap:nth-child(2) .scale {
    animation-delay: -188.893331ms;
    -o-animation-delay: -188.893331ms;
    -ms-animation-delay: -188.893331ms;
    -webkit-animation-delay: -188.893331ms;
    -moz-animation-delay: -188.893331ms;
}

.cssload-wrap:nth-child(2) .scale {
    background: rgb(102, 255, 204);
}

.cssload-wrap:nth-child(3) {
    transform: rotate(240deg);
    -o-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    -webkit-transform: rotate(240deg);
    -moz-transform: rotate(240deg);
}

.cssload-wrap:nth-child(3) .translate,
.cssload-wrap:nth-child(3) .scale {
    animation-delay: -377.776662ms;
    -o-animation-delay: -377.776662ms;
    -ms-animation-delay: -377.776662ms;
    -webkit-animation-delay: -377.776662ms;
    -moz-animation-delay: -377.776662ms;
}

.cssload-wrap:nth-child(3) .scale {
    background: rgb(102, 102, 255);
}

.cssload-wrap:nth-child(4) {
    transform: rotate(200deg);
    -o-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
    -moz-transform: rotate(200deg);
}

.cssload-wrap:nth-child(4) .translate,
.cssload-wrap:nth-child(4) .scale {
    animation-delay: -566.6700035ms;
    -o-animation-delay: -566.6700035ms;
    -ms-animation-delay: -566.6700035ms;
    -webkit-animation-delay: -566.6700035ms;
    -moz-animation-delay: -566.6700035ms;
}

.cssload-wrap:nth-child(4) .scale {
    background: rgb(255, 102, 204);
}

.cssload-wrap:nth-child(5) {
    transform: rotate(160deg);
    -o-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
    -moz-transform: rotate(160deg);
}

.cssload-wrap:nth-child(5) .translate,
.cssload-wrap:nth-child(5) .scale {
    animation-delay: -755.5533345ms;
    -o-animation-delay: -755.5533345ms;
    -ms-animation-delay: -755.5533345ms;
    -webkit-animation-delay: -755.5533345ms;
    -moz-animation-delay: -755.5533345ms;
}

.cssload-wrap:nth-child(5) .scale {
    background: rgb(255, 204, 102);
}

.cssload-wrap:nth-child(6) {
    transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
}

.cssload-wrap:nth-child(6) .translate,
.cssload-wrap:nth-child(6) .scale {
    animation-delay: -944.4466655ms;
    -o-animation-delay: -944.4466655ms;
    -ms-animation-delay: -944.4466655ms;
    -webkit-animation-delay: -944.4466655ms;
    -moz-animation-delay: -944.4466655ms;
}

.cssload-wrap:nth-child(6) .scale {
    background: rgb(102, 255, 102);
}

.cssload-wrap:nth-child(7) {
    transform: rotate(80deg);
    -o-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
}

.cssload-wrap:nth-child(7) .translate,
.cssload-wrap:nth-child(7) .scale {
    animation-delay: -1133.3299965ms;
    -o-animation-delay: -1133.3299965ms;
    -ms-animation-delay: -1133.3299965ms;
    -webkit-animation-delay: -1133.3299965ms;
    -moz-animation-delay: -1133.3299965ms;
}

.cssload-wrap:nth-child(7) .scale {
    background: rgb(102, 204, 255);
}

.cssload-wrap:nth-child(8) {
    transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
}

.cssload-wrap:nth-child(8) .translate,
.cssload-wrap:nth-child(8) .scale {
    animation-delay: -1322.223338ms;
    -o-animation-delay: -1322.223338ms;
    -ms-animation-delay: -1322.223338ms;
    -webkit-animation-delay: -1322.223338ms;
    -moz-animation-delay: -1322.223338ms;
}

.cssload-wrap:nth-child(8) .scale {
    background: rgb(204, 102, 255);
}

.cssload-wrap:nth-child(9) {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.cssload-wrap:nth-child(9) .translate,
.cssload-wrap:nth-child(9) .scale {
    animation-delay: -1511.106669ms;
    -o-animation-delay: -1511.106669ms;
    -ms-animation-delay: -1511.106669ms;
    -webkit-animation-delay: -1511.106669ms;
    -moz-animation-delay: -1511.106669ms;
}

.cssload-wrap:nth-child(9) .scale {
    background: rgb(255, 102, 102);
}

@keyframes translate {
    0% {
        transform: translate3d(-600%, 0, 0);
    }
    50% {
        transform: translate3d(600%, 0, 0);
    }
    100% {
        transform: translate3d(-600%, 0, 0);
    }
}

@-o-keyframes translate {
    0% {
        -o-transform: translate3d(-600%, 0, 0);
    }
    50% {
        -o-transform: translate3d(600%, 0, 0);
    }
    100% {
        -o-transform: translate3d(-600%, 0, 0);
    }
}

@-ms-keyframes translate {
    0% {
        -ms-transform: translate3d(-600%, 0, 0);
    }
    50% {
        -ms-transform: translate3d(600%, 0, 0);
    }
    100% {
        -ms-transform: translate3d(-600%, 0, 0);
    }
}

@-webkit-keyframes translate {
    0% {
        -webkit-transform: translate3d(-600%, 0, 0);
    }
    50% {
        -webkit-transform: translate3d(600%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-600%, 0, 0);
    }
}

@-moz-keyframes translate {
    0% {
        -moz-transform: translate3d(-600%, 0, 0);
    }
    50% {
        -moz-transform: translate3d(600%, 0, 0);
    }
    100% {
        -moz-transform: translate3d(-600%, 0, 0);
    }
}

@keyframes scale {
    0% {
        transform: translateZ(0) scale(0.75, 1);
    }
    25% {
        transform: translateZ(0) scale(1.5, 0.5);
    }
    50% {
        transform: translateZ(0) scale(0.75, 1);
    }
    75% {
        transform: translateZ(0) scale(1.5, 0.5);
    }
    100% {
        transform: translateZ(0) scale(0.75, 1);
    }
}

@-o-keyframes scale {
    0% {
        -o-transform: translateZ(0) scale(0.75, 1);
    }
    25% {
        -o-transform: translateZ(0) scale(1.5, 0.5);
    }
    50% {
        -o-transform: translateZ(0) scale(0.75, 1);
    }
    75% {
        -o-transform: translateZ(0) scale(1.5, 0.5);
    }
    100% {
        -o-transform: translateZ(0) scale(0.75, 1);
    }
}

@-ms-keyframes scale {
    0% {
        -ms-transform: translateZ(0) scale(0.75, 1);
    }
    25% {
        -ms-transform: translateZ(0) scale(1.5, 0.5);
    }
    50% {
        -ms-transform: translateZ(0) scale(0.75, 1);
    }
    75% {
        -ms-transform: translateZ(0) scale(1.5, 0.5);
    }
    100% {
        -ms-transform: translateZ(0) scale(0.75, 1);
    }
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: translateZ(0) scale(0.75, 1);
    }
    25% {
        -webkit-transform: translateZ(0) scale(1.5, 0.5);
    }
    50% {
        -webkit-transform: translateZ(0) scale(0.75, 1);
    }
    75% {
        -webkit-transform: translateZ(0) scale(1.5, 0.5);
    }
    100% {
        -webkit-transform: translateZ(0) scale(0.75, 1);
    }
}

@-moz-keyframes scale {
    0% {
        -moz-transform: translateZ(0) scale(0.75, 1);
    }
    25% {
        -moz-transform: translateZ(0) scale(1.5, 0.5);
    }
    50% {
        -moz-transform: translateZ(0) scale(0.75, 1);
    }
    75% {
        -moz-transform: translateZ(0) scale(1.5, 0.5);
    }
    100% {
        -moz-transform: translateZ(0) scale(0.75, 1);
    }
}

menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: calc(50% - 140px);
    height: 250px;
    justify-content: space-between;
    left: 20px;
    z-index: 100;
    font-family: Helvetica, serif;
    color: #4a4a4a;
    transition: 1s;
}

menu input[type="radio"] {
    visibility: hidden;
}

menu input[type="radio"]:before {
    content: "";
    position: relative;
    display: block;
    visibility: visible;
    width: 30px;
    height: 30px;
    border: 2px solid #4a4a4a;
    border-radius: 50%;
    /*margin: -5px;*/
    background: #fff;
    transition: 1s;
    background-size: contain;
}

menu input[id="menu1"]:before {
    background-image: url("img/005-house.png");
}

menu input[id="menu2"]:before {
    background-image: url("img/004-glasses.png");
}

menu input[id="menu3"]:before {
    background-image: url("img/003-paper-plane.png");
}

menu input[id="menu4"]:before {
    background-image: url("img/002-photo-camera.png");
}

menu input[id="menu5"]:before {
    background-image: url("img/001-chat.png");
}

menu input[id="menu1"]:checked:before {
    background-color: #c40000;
    background-image: url("img/005-house.png");

    transition: .5s;
}

menu input[id="menu2"]:checked:before {
    background-color: #4990E2;
    transition: .5s;
}

menu input[id="menu3"]:checked:before {
    background-color: #B8E986;
    transition: .5s;
}

menu input[id="menu4"]:checked:before {
    background-color: #9e0150;
    transition: .5s;
}

menu input[id="menu5"]:checked:before {
    background-color: #257a00;
    transition: .5s;
}

menu input[id="menu1"]:hover:before {
    background-color: rgba(196, 0, 0, 0.51);
    transition: .1s;
}

menu input[id="menu2"]:hover:before {
    background-color: rgba(73, 144, 226, 0.51);
    transition: .1s;
}

menu input[id="menu3"]:hover:before {
    background-color: rgba(184, 233, 134, 0.5);
    transition: .1s;
}

menu input[id="menu4"]:hover:before {
    background-color: rgba(158, 1, 80, 0.5);
    transition: .1s;
}

menu input[id="menu5"]:hover:before {
    background-color: rgba(37, 122, 0, 0.51);
    transition: .1s;
}

menu input:hover + label {
    visibility: visible;
    transition: .1s;
}

menu label {
    margin-left: 42px;
    margin-bottom: 23px;
    margin-top: 3px;
    visibility: hidden;
    background: #ffffff;
    padding: 5px 6px 5px 10px;
    border-radius: 5px 20px 20px 5px;

}

.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 0;
    transition: opacity .1s;
    opacity: 0;
}

.show {
    opacity: 1;
    display: block;
    transition: opacity 1s;
}

.bg-black {
    position: relative;
    background: #1F1E1E;
    width: 48vmax;
    height: 100%;
    float: right;
    box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.74);

}

.bg-black img {
    position: absolute;
    left: -514px;
    top: calc(50% - 222px);
    filter: saturate(2);
animation: move 5s infinite ease-in-out;

}
@keyframes move {
    0%{
        top:200px;
    }
    50%{
        top: 240px;
    }
    100%{
        top:200px;
    }
}
.p1-title {
    position: absolute;
    left: calc(52vmax / 2 - 251px);
    top: 120px;
    font-size: 6em;
    font-family: Helvetica, serif;
    font-weight: 200;
    color: #1F1E1E;
    text-shadow: -5px 1px 6px rgba(74, 74, 74, 0.3);
}

.logo img {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 200;
    width: 80px;
}

.white img {
    filter: invert(1);
}

.black img {
    filter: invert(0);
}

.p2-1-cont-right {
    background: #4990E2;
    width: 48vmax;
    height: 100%;
    position: relative;
    float: right;
    box-shadow: -10px 0 40px rgba(0, 0, 0, 0.74);
}

.p2-1-cont-left {
    width: 52vmax;
    height: 100%;
    position: relative;
    float: left;
}

.p2-1-cont-left span {
    position: absolute;
    left: calc(57vmax / 2 - 235px);
    float: left;
    font-size: 2.7em;
    font-family: Helvetica, serif;
    font-weight: 300;
    color: #4a4a4a;
    max-width: 600px;
    top: calc(50vh / 2 - 51px);
    text-shadow: -5px 1px 6px rgba(74, 74, 74, 0.4);
}

.p2-1-cont-left img {
    left: calc(82vmax / 2 - 235px);
    bottom: 0;
    width: 450px;
    position: absolute;

}

.p2-1-cont-right .cont-text {
    position: absolute;
    /* left: calc(43vmax / 2 - 235px); */
    margin-left: 25px;
    top: 388px;
    font-size: 2.2em;
    font-family: Helvetica, serif;
    font-weight: 200;
    color: #ffffff;
    max-width: 700px;
    margin-right: 50px;
}

.p2-1-cont-right .cont-text div {
    /*float: right;*/
    margin-top: 51px;
    margin-left: 190px;
    font-size: 0.7em;
    font-weight: 100;
    color: #e5e5e5;
    text-align: end;
}

.subMenu {
    position: fixed;
    bottom: 0px;
    left: calc(50vmax - 75px);
    visibility: hidden;
    z-index: 3000;
    width: 200px;

}

.subMenu > div {
    position: relative;
    justify-content:space-between;
    display: flex;
    padding: 10px;
}

.subMenu input[type="radio"]:before {
    content: "";
    position: absolute;
    display: block;
    visibility: visible;
    width: 15px;
    height: 15px;
    border: 1px solid #4a4a4a;
    border-radius: 50%;
    /*margin: -5px;*/
    background: #fff;
    transition: .3s;
    background-size: contain;
}

.subMenu input[type="radio"]:checked:before{
    background: #4a4a4a;
    border: 2px solid #ffffff;
}
.subMenu input[type="radio"]:hover:before{
    background: #8f8f8f;

}
.subMenu input[type="radio"]:hover+label{
    visibility: visible;

}
.subMenu label {
    position: absolute;
    width: 300px;
    text-align: center;
    bottom: 34px;
    left:-54px;
    background: #fff;
    border-radius: 10px;
    opacity: 0.8;
    padding: 10px;
    color: #1F1E1E;
    font-family: Helvetica,serif;
    border: 1px solid #4a4a4a;
}

.p{
/*display: none;*/
    width: 100vmax;
    height: 100%;

}
.sh{
    display: block;
}
#sh{
    display: block;
}
.hide{
    display: none;
}
#hide{
    display: none;
}


.progress{
    position: fixed;
    height: 5px;
    z-index: 1000;
    left: 0;
    bottom: 0px;
    transition:ease-out 1s;
    overflow: hidden;
   background: #990346;
}


/*#nav2{*/
    /*height: 200px;*/
/*}*/















@media screen and (min-width: 1400px) {
    .p2-1-cont-left span {
        font-size: 3.5em;
        left: calc(50vmax / 2 - 235px);
    }

    .p2-1-cont-right .cont-text {
        font-size: 2.5em;
    }

    .p2-1-cont-left img {
        width: 500px;
    }
    .p1-title {

        left: calc(42vmax / 2 - 251px);

        font-size: 8em;}
}
