* {
    margin: 0;
    border: 0;
}

.menu {
    padding: 0;
    display: inline-block;
    position: fixed;
    margin: calc(50vh - 150px) 0;
}

.menu__item {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    font-size: 1.1em;
    font-family: Helvetica, sans-serif;
}

.menu__item:hover .item_text {
    display: inline;
}

.menu__item:before {
    content: "";
    display: block;
    background: #000000;
    width: 10px;
    height: 31px;
    margin: 10px 0px 10px 10px;
    border: 1px solid #ffffff;
}

.menu .active:before {
    background: #BD0FE1;
}

.item_text {
    animation: item_text .2s linear;
    display: none;
    margin: 5px 5px 5px 0px;
    padding: 5px;
    background: chartreuse;
    text-wrap: none;
    overflow: hidden;
    height: 21px;
}

.n1:hover:before {
    background: #890202;
}

.n1:hover .item_text {
    background: #be0000;
}

.n2:hover:before {
    background: #47b898;
}

.n2:hover .item_text {
    background: #47b898;
}

.n3:hover:before {
    background: #3690de;
}

.n3:hover .item_text {
    background: #3690de;
}

.n4:hover:before {
    background: #b451d6;
}

.n4:hover .item_text {
    background: #b451d6;
}

.n5:hover:before {
    background: #0f2393;
}

.n5:hover .item_text {
    background: #0f2393;
}

@keyframes item_text {
    0% {
        display: inline;
        width: 0;
        opacity: 0;
    }
    70% {
        padding-right: 20px;
        opacity: 1;
    }
    100% {
        width: 50%;
        padding-right: 5px;
    }
}

.menuChek {

    position: relative;
    z-index: 1000;
}

#menu__checkbox {
    display: none;
    visibility: hidden;
    position: fixed;
    right: 30px;
    top: 30px;
    width: 50px;
    height: 50px;
    z-index: 1001;
}

#menu__checkbox + label {
    display: block;
    position: fixed;
    right: 16px;
    top: 10px;
    width: 80px;
    height: 70px;
    z-index: 1002;
}

#menu__checkbox:before {
    position: absolute;
    content: "";
    display: block;
    visibility: visible;
    background: #000000;
    width: 50px;
    height: 7px;
    top: 0;
    transition: .5s;
    border: 1px solid #ffffff;
    box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.18);
}

#menu__checkbox:after {
    position: absolute;
    content: "";
    border: 1px solid #ffffff;
    display: block;
    visibility: visible;
    background: #000000;
    width: 50px;
    height: 7px;
    top: 20px;
    transition: .5s;
    box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.18);
}

#menu__checkbox:checked:before {
    transform: rotate(45deg);
    top: 10px;
    transition: .5s;
}

#menu__checkbox:checked:after {
    transform: rotate(-45deg);
    top: 10px;
    transition: .5s;
}

@keyframes bac1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bac2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.logo {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
}

.logo img {
    width: 80px;
    filter: invert(100);
}

.logo {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
}

.logo img {
    width: 80px;
    filter: invert(100);
}

.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.cont > div {
    background: #793f95;
    margin: 1px;
    flex-grow: 1;
    width: 24vw;
    height: 31vh;
    min-width: 300px;
    animation: dd 10s;
}

.cont:before {
    content: "";
    position: fixed;
    top: calc(44vh - 20px);
    left: calc(49vw - 20px);
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #BD0FE1;
    border-bottom: 4px solid transparent;
    z-index: 1000;
    visibility: hidden;
    animation: dwq 3s linear;
}

.cont > div:nth-of-type(2n) {
    animation: dd 6s;
}

@keyframes dwq {
    0% {
        visibility: visible;
        opacity: 1;

    }

    99% {
        opacity: 1;
        transform: rotate(1000deg);
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes dd {
    0% {
        opacity: 0;
    }

    30% {
        /*border-radius: 100%;*/
        opacity: 0;
        /*filter: brightness(4);*/
        transform: rotateX(90deg) rotateY(90deg);
    }

    100% {
        opacity: 1;
        border-radius: 0;
        transform: rotateX(0deg) rotateY(0deg);
    }
}

body {
    background: #000000;
}

h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 100;
    font-family: sans-serif;
    text-align: center;
    padding: 40px 0px;
}

#fv {
    width: 100%;
    height: 50vh;
    flex-grow: 1;

}

@media screen and (max-width: 500px) {
    .cont > div {
        min-width: 100%;
    }
}

@media screen and (max-width: 800px) {

    #menu__checkbox {
        display: block;
    }

    h1 {
        text-align: left;
        padding: 15px;
    }

    .menu {
        display: none;
        margin: 0;
        background: rgba(0, 0, 0, 0.85);
        width: 100vw;
        height: 100vmax;
        z-index: 1000;
        animation: bac1 .3s linear;
    }

    #menu__checkbox:checked ~ menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;
    }

    #menu__checkbox:checked:after {
        background: #ffffff;
    }

    #menu__checkbox:checked:before {
        background: #ffffff;
    }

    .menu__item:before {
        display: none;
    }

    .menu__item {
        font-size: 2em;
        font-weight: 100;

    }

    .item_text {
        display: block;
        animation: none;
        margin: 20px;
        background: none;
        overflow: visible;
        height: auto;
        width: 100%;
    }

    .logo {
        display: none;
    }

}