* {
    margin: 0;
    border: 0;
}

.menu {
    padding: 0;
    display: inline-block;
    position: fixed;
    margin: calc(50vh - 150px) 0;
}

.menu__item {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    font-size: 1.1em;
    font-family: Roboto, sans-serif;
}

.menu__item:hover .item_text {
    display: inline;
}

.menu__item:before {
    content: "";
    display: block;
    background: #000000;
    width: 10px;
    height: 31px;
    margin: 10px 0px 10px 10px;
    border: 1px solid #ffffff;
}

.menu .active:before {
    background: #47b898;
}

.item_text {
    animation: item_text .2s linear;
    display: none;
    margin: 5px 5px 5px 0px;
    padding: 5px;
    background: chartreuse;
    text-wrap: none;
    overflow: hidden;
    height: 21px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #47b898;
    padding: 35px;
    color: #fff;
    font-family: Helvetica;
}

footer li {
    list-style: none;
}

.autor {
    display: flex;
    align-items: center;
}

footer div a {
    color: #fff;
    font-family: Helvetica;
    line-height: 30px;
    text-decoration: none;
}

.n1:hover:before {
    background: #890202;
}

.n1:hover .item_text {
    background: #be0000;
}

.n2:hover:before {
    background: #47b898;
}

.n2:hover .item_text {
    background: #47b898;
}

.n3:hover:before {
    background: #3690de;
}

.n3:hover .item_text {
    background: #3690de;
}

.n4:hover:before {
    background: #b451d6;
}

.n4:hover .item_text {
    background: #b451d6;
}

.n5:hover:before {
    background: #0f2393;
}

.n5:hover .item_text {
    background: #0f2393;
}

@keyframes item_text {
    0% {
        display: inline;
        width: 0;
        opacity: 0;
    }
    70% {
        padding-right: 20px;
        opacity: 1;
    }
    100% {
        width: 50%;
        padding-right: 5px;
    }
}

.menuChek {
    position: relative;
    z-index: 1000;
}

#menu__checkbox {
    display: none;
    visibility: hidden;
    position: fixed;
    right: 30px;
    top: 30px;
    width: 50px;
    height: 50px;
    z-index: 1001;
}

#menu__checkbox+label {
    display: block;
    position: fixed;
    right: 16px;
    top: 10px;
    width: 80px;
    height: 70px;
    z-index: 1002;
}

#menu__checkbox:before {
    position: absolute;
    content: "";
    display: block;
    visibility: visible;
    background: #000000;
    width: 50px;
    height: 7px;
    top: 0;
    transition: .5s;
    border: 1px solid #ffffff;
    box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.18);
}

#menu__checkbox:after {
    position: absolute;
    content: "";
    border: 1px solid #ffffff;
    display: block;
    visibility: visible;
    background: #000000;
    width: 50px;
    height: 7px;
    top: 20px;
    transition: .5s;
    box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.18);
}

#menu__checkbox:checked:before {
    transform: rotate(45deg);
    top: 10px;
    transition: .5s;
}

#menu__checkbox:checked:after {
    transform: rotate(-45deg);
    top: 10px;
    transition: .5s;
}

@keyframes bac1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bac2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.logo {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
    background: url(../img/logo.png) center center no-repeat no-repeat;
    background-size: 100%;
    filter: invert(100);
    width: 80px;
    height: 98px;
}

.logo img {
    width: 80px;
    filter: invert(100);
}

.header {
    color: #ffffff;
    position: relative;
    background: #000000;
}

.header .top {
    position: absolute;
    font-size: 5em;
    font-weight: 200;
    font-family: Roboto, serif;
    margin-top: 50px;
    float: left;
    left: calc(20vw - 100px);
    max-width: 800px;
    z-index: 100;
}

.header .bottom {
    bottom: 25px;
    right: 25px;
    position: absolute;
    font-size: 2em;
    font-weight: 200;
    font-family: Roboto, serif;
    /* margin-top: 50px; */
    /* float: left; */
    /* left: calc(20vw - 100px); */
    max-width: 600px;
    z-index: 100;
}

.header .bottom small {
    display: block;
    color: rgba(255, 255, 255, 0.5);
}

.header video {
    max-height: 100vh;
    z-index: 10;
}

.BigTitle {
    margin: 50px 0 50px 0;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    position: relative;
    z-index: 100;
    font-family: 'Vollkorn', serif;
}

.BigTitle:before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 63px;
    top: -2px;
    margin-left: -12px;
    position: absolute;
    background: #50E3C2;
    z-index: -10;
}

.article1>div {
    flex-basis: 300px;
}

.article1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: 0 auto;
    font-size: 1.1em;
    font-family: Roboto, serif;
}

.article1 .img {
    flex-grow: 1;
}

.article1 .img>img {
    width: 100%;
    max-width: 100%;
    filter: hue-rotate(-180deg);
}

.article1 .text {
    flex-grow: 1;
    /* max-width: 50%; */
    columns: calc(25vh);
    /*max-width: 50%;*/
    /*columns: calc(25vh);*/
    /*!* column-rule: cornflowerblue; *!*/
    /*column-gap: 21px;*/
    margin-left: 10px;
    padding: 10px;
    line-height: 30px;
}

.brBig {
    height: 100px;
}

.article2 {
    background: rgb(0, 0, 0);
    padding: 30px;
    color: #fff;
    border-top: 2px solid #47b898;
    border-bottom: 2px solid #47b898;
}

.article2 .text {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.3em;
    font-family: Roboto, serif;
    line-height: 35px;
    letter-spacing: 1px;
}

.imgArticle1 {
    position: relative;
    color: #ffffff;
    height: 500px;
    background-size: cover;
    max-width: 900px;
    margin: 0 auto;
}

.img1 {
    background: url("../img/img2.jpg") top center;
    background-size: cover;
}

.img2 {
    background: url("../img/img3.jpg") top center;
    background-size: cover;
}

.img3 {
    background: url("../img/img4.jpg") top center;
    background-size: cover;
}

.img4 {
    background: url("../img/img5.jpg") top center;
    background-size: cover;
}

.img5 {
    background: url("../img/img6.jpg") top center;
    background-size: cover;
}

.imgArticle {
    background: linear-gradient(transparent 70%, #47b898 10%);
    padding-bottom: 10px;
}

.imgArticle .title {
    position: absolute;
    z-index: 110;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-family: Roboto, serif;
    font-size: 1.6em;
}

.imgArticle #radio {
    z-index: 120;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    visibility: hidden;
}

.imgArticle #radio:before {
    content: "";
    width: 60px;
    border-radius: 20px;
    height: 7px;
    top: 230px;
    /* left: calc(25vw); */
    /* margin: 0 auto; */
    transform: rotate(45deg);
    background: #ffffff;
    display: block;
    position: absolute;
    visibility: visible;
    transition: 1s;
}

.imgArticle #radio:after {
    content: "";
    width: 60px;
    border-radius: 20px;
    visibility: visible;
    height: 7px;
    top: 268px;
    /* left: calc(25vw); */
    /* margin: 0 auto; */
    transform: rotate(-45deg);
    background: #ffffff;
    display: block;
    position: absolute;
    transition: 1s;
}

.imgArticle1 #radio:checked+.text {
    visibility: visible;
    animation: ff 1s;
}

.imgArticle1 #radio:checked+.text>.t {
    opacity: 1;
    animation: f2 1s;
    padding: 20px;
}

.imgArticle1 #radio:checked:before {
    visibility: hidden;
    transform: rotate(360deg);
    transition: .5s;
    width: 0px;
    height: 0px;
}

.imgArticle1 #radio:checked:after {
    visibility: hidden;
    transform: rotate(-360deg);
    transition: .5s;
    width: 0px;
    height: 0px;
}

@keyframes ff {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

@keyframes f2 {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.imgArticle1 .text {
    position: absolute;
    z-index: 100;
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    /*padding: 20px;*/
    padding-left: 40px;
    padding-right: 10px;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    visibility: hidden;
    top: 0px;
}

.imgArticle .text>.t {
    max-width: 500px;
    line-height: 40px;
    margin: 0 auto;
    font-size: 1.2em;
    font-family: Roboto, serif;
    font-weight: 300;
    opacity: 0;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .header .top {
        font-size: 4em;
        max-width: 600px;
    }
    .header .bottom {
        font-size: 1.7em;
        max-width: 500px;
    }
}

@media screen and (max-width: 900px) {
    .header .top {
        font-size: 3em;
        max-width: 500px;
    }
    .imgArticle {
        padding-bottom: 0;
    }
    .header .bottom {
        font-size: 1.3em;
        max-width: 340px;
    }
}

@media screen and (max-width: 800px) {
    .imgArticle1 .text {
        padding: 0 5px 0 5px;
    }
    @keyframes ff {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    .article1 .text {
        columns: auto;
    }
    .imgArticle .text>.t {
        line-height: 35px;
        font-size: 1.2em;
    }
    .imgArticle1 .text {
        width: 100%;
    }
    .content {
        overflow: hidden;
    }
    .header video {
        width: 200%;
        /* margin: 0 auto; */
        position: relative;
        /*z-index: -1;*/
        left: calc(-50vw);
    }
    #menu__checkbox {
        display: block;
    }
    .menu {
        display: none;
        margin: 0;
        background: rgba(0, 0, 0, 0.85);
        width: 100vw;
        height: 100vmax;
        z-index: 1000;
        animation: bac1 .3s linear;
    }
    #menu__checkbox:checked~menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;
    }
    #menu__checkbox:checked:after {
        background: #ffffff;
    }
    #menu__checkbox:checked:before {
        background: #ffffff;
    }
    .menu__item:before {
        display: none;
    }
    .menu__item {
        font-size: 2em;
        font-weight: 100;
    }
    .item_text {
        display: block;
        animation: none;
        margin: 20px;
        background: none;
        overflow: visible;
        height: auto;
        width: 100%;
    }
    .logo {
        display: none;
    }
}

@media screen and (max-width: 530px) {
    .BigTitle {
        font-size: 2.2em;
    }
    .BigTitle:before {
        top: -8px;
    }
    .header .top {
        left: calc(50vw - 170px);
        margin-top: 80px;
        font-size: 2em;
        max-width: 340px;
    }
    .header .bottom {
        right: calc(50vw - 170px);
        font-size: 1.3em;
        max-width: 340px;
    }
    .header video {
        width: 280%;
        /* margin: 0 auto; */
        position: relative;
        /* z-index: -1; */
        left: calc(-90vw);
        /*filter: brightness(0.7) contrast(2) saturate(1);*/
    }
}